.tile {
	position:absolute;
}

.border {
	border:1px solid white;
}

.tilewrapper {
	margin: 0 auto 25px;
	width: 799px;
	height: 100%;
}

.wrapperbutton {
    width: 300px;
    margin: 0px auto;
}


.position {
	position:relative;
}

.tileimage
{
	background-image: url(images/20110403143837_rouedentelee.jpg);
}

.transparentTile {
	opacity:0.4;
	filter:alpha(opacity=40);
    background-color:#ffffff;
}

.redTile {
	opacity:0.2;
	filter:alpha(opacity=20);
    background-color:red;
}

.shadow {
    box-shadow: 5px 5px 5px black; 
    border-radius:15px;
}

.enableHover {
    box-shadow: inset 10px 10px 10px black;
}


/* web designer wall => webdesignerwall.com */
.button {
    width:80px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;
    top: 1px;
}

.white {
    background: -moz-linear-gradient(center top , #FFFFFF, #EDEDED) repeat scroll 0 0 transparent;
    border: 1px solid #B7B7B7;
    color: #606060;
}
.white:hover {
    background: -moz-linear-gradient(center top , #FFFFFF, #DCDCDC) repeat scroll 0 0 transparent;
}
.white:active {
    background: -moz-linear-gradient(center top , #EDEDED, #FFFFFF) repeat scroll 0 0 transparent;
    color: #999999;
}
/**/
