.tile {
	position:absolute;
}

.border {
	border:1px solid white;
}

.tilewrapper {
	margin: 0 auto 25px;
	width: 799px;
	height: 100%;

}

.position {
	position:relative;
}

.tileimage
{
	background-image: url(images/20110403143837_rouedentelee.jpg);
}

.transparentTile {
	opacity:0.4;
	filter:alpha(opacity=40);
    background-color:#ffffff;
}

.redTile {
	opacity:0.2;
	filter:alpha(opacity=20);
    background-color:red;
}

.shadow {
    box-shadow: 5px 5px 5px black; 
    border-radius:15px;
}

.enableHover {
    box-shadow: inset 10px 10px 10px black;
}
